@page "/"

<h3>Welcome to the Disc Bag</h3>

<p>Please click the link below to go to the disc bag.</p>

<!-- Add a link to navigate to the disc bag page -->
<NavLink href="/discbag">Go to Disc Bag</NavLink>



